<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Programming the Cards for Liquid Soap Vending machine</title>
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="../node_modules/xterm/css/xterm.css">
  <script src="../node_modules/xterm/lib/xterm.js"></script>
</head>

<body class="w3-light-gray">
  <div id="app" class="split-to-two w3-row">
    <div class="w3-col s6">
      <div>
        <div class="w3-padding">
          <label>Hardware type: <i class="w3-small" v-if="selHardware">{{hardware.desc}}</i></label>
          <select class="w3-select w3-light-gray w3-border w3-hover-shadow" v-model="selHardware">
            <option disabled value="">Please your hardware</option>
            <option v-for="(option, idx) in avHw" :value="idx">
              {{ "Ref: "+ idx + " - " + option.name }}
            </option>
          </select>
        </div>
        <div v-if="selHardware">
          <div class="w3-row-padding">
            <template :key="'ref_'+autoUpdate" v-for="(option, idx) in hardware.firmware.globalConfigs">
              <div class="w3-col s6">
                <div class="w3-border w3-hover-shadow w3-round cardConfig w3-padding" :title="option.desc">
                  <label>{{option.name}}: {{option.value}}</label>
                  <input class="w3-input" type="range" v-model="option.value" :min="option.min" :max="option.max" />
                </div>
              </div>
            </template>
            <template :key="'ref_'+autoUpdate" v-for="(option, idx) in hardware.firmware.directives">
              <div v-if="!option.hide" class="w3-col s6">
                <div @click="option.value = !option.value" :title="option.desc"
                  class="w3-border w3-hover-shadow w3-round cardConfig w3-padding">
                  <input class="w3-check" type="checkbox" v-model="option.value">
                  <label>&nbsp;{{option.name}}</label>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col s6 w3-leftbar">
      <div class="place-ver">
        <label id="executingText" class="place-top">[Idle]</label>
        <!--pre class="w3-border w3-block place-middle w3-sand w3-small" id="log"></pre-->
        <div class="place-middle" id="log-view"></div>
        <div  v-if="selHardware" class="place-bottom">
          <div class="w3-center">
            <input class="w3-input portEntry w3-border" type="text" v-model="port" placeholder="Serial port number" />
            <div class="w3-border w3-button w3-ripple" @click="getPorts">
              List ports
            </div>
            <div class="w3-border w3-button w3-ripple" @click="compile">
              Compile
            </div>
            <div class="w3-border w3-button w3-ripple" @click="bootloader">
              Bootloader
            </div>
            <div class="w3-border w3-button w3-ripple" @click="burn">
              Program
            </div>
            <div class="w3-border w3-button w3-ripple" @click="clearLog">
              Clear log
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
  <script>
  </script>
  <script src="../node_modules/vue/dist/vue.global.prod.js"></script>
  <script src="./client-script.min.js"></script>
  <script>
    require('./renderer');
  </script>
</body>

</html>